.search-tool {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1f 1fr 1fr;
    align-items: center;
    column-gap: max(5px, 1.1vw);
    row-gap: max(7px, 1vw);
    padding: max(10px, 1.3vw) max(10px, 1vw);
    border-radius: max(5px, .6em);
    margin-bottom: max(10px, 3vw);

    box-shadow: 0px 7px 20px 3px rgba(223, 221, 221, 0.72);

    &__indicator {
        grid-column: 1 / span 2;
        font-size: clamp(12px, .9vw, 2em);
        // margin-top: max(5px, 0.7vw);
    }

    &__field {
        display: flex;
        flex: 1 1 1;
        height: clamp(25px, 1.6vw, 50px);
        border: 1px solid rgb(204, 199, 199);
        border-radius: max(5px, .6em);
        margin-bottom: max(5px, 1vw);
        padding: max(3px, .5vw) max(7px, .7vw);
        box-sizing: content-box;
        align-items: center;


        &__input {
            flex-grow: 1;
            border: none;
            outline: none;
            font-size: clamp(.6em, 0.8vw, 1.3em);
            margin: 0 max(4px, 0.6vw);
            color: #b5aaaa;

            &::placeholder {
                color: #9e9292;
            }
        }

        &__icon {
            width: max(15px, 3%);
            height: 90%;
        }

        &__x-icon {
            opacity: 50%;
            height: 70%;

            &:hover {
                cursor: pointer;
            }

        }

    }

}

@media (max-width:620px) {

    .search-tool {
        margin-top: 10vw;
        margin-bottom: 10vw;

        &__field {
            grid-column: 1/3;
        }

        &__indicator {
            grid-column: auto;

            &:last-child {
                text-align: right;
            }
        }
    }
}